.main-intro {
  background-color: #4c79a3;
  background-image: url("../img/jpg/frame-7.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/jpg/frame-7@2x.jpg");
    background-size: cover;
  }

  
  @media (min-width: @tablet-width) {
    background-image: url("../img/jpg/Intro.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/jpg/Intro@2x.jpg");
      background-size: cover;
    }
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/jpg/intro-1.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/jpg/intro-1@2x.jpg");
      background-size: cover;
    }
  }
}

.main-intro img {
  padding-top: 90px;
  padding-bottom: 84px;
}