.main-content__container {
  background-color: #ffffff;
}

.main-content__decor-top {
  position: relative;
  width: 100%;
  min-width: 320px;
  max-width: 1280px;
  bottom: 55px;
}

.main-content__decor-top img{
  width: 100%;
}

.main-content__list-frame {
  padding: 0;
  list-style: none;
  color: #333333;
  background-color: #ffffff;
}

.main-content__item {
  background-color: #EEEEEE;
}