.main-intro__catalog {
  background-color: #4c79a3;
  background-image: url("../img/jpg/frame-2.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%; 

  @media (min-resolution: 2dppx) {
    background-image: url("../img/jpg/frame-2@2x.jpg");
  }

  
  @media (min-width: @tablet-width) {
    background-image: url("../img/jpg/back-desktop-1.jpg.jpg");
    background-size: 100% 120%; 
    background-position-y: -50px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/jpg/back-desktop.jpg-1@2x.jpg");
    }
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/jpg/back-1-desktop.jpg.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/jpg/back-1-desktop.jpg@2x.jpg");
    }
  }
}

.main-intro__catalog-imeges img {
  padding-top: 52px;
  padding-bottom: 67px;

  @media (min-width: @tablet-width) {
    padding-top: 95px;
    padding-bottom: 117.5px;
    width: 457px;
    height: 78px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 101px;
    padding-bottom: 120px;
  }
}

.main-intro__catalog-decor {
  position: absolute;
  width: 100%;
  min-width: 320px;
  max-width: 1200px;
}

.main-intro__catalog-decor img {
  position: relative;
  width: 100%;
  padding: 0;
  bottom: 55px;

  @media (min-width: @tablet-width) {
    bottom: 75px;
  }
}